@import "tailwindcss";

body {
  user-select: none;
  font-family: var(--font-sans);
}

* {
  transition: background-color .2s;
}

*:focus {
  outline: none;
}

::-webkit-scrollbar {
  background: transparent;
  width: 0;
  height: 0;
}

svg:active {
  transform: scale(0.9);
  transition: transform 0.2s;
}